body {
font-family: sans-serif;
}

/* Strona logowania */
.formAuto {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding: 3%;
}

.center {
    text-align: center;
}


/* Strona Twitte */
.TwitteProfile {
    width: 250px;
    margin-left: auto;
    padding-top: 3%;
}

.TwittePost {
    width: 700px;
    margin-right: auto;
    padding: 3%;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.Post {
    border-top: 1px solid lightslategray;
    padding-top: 3%;
}

.btn-group {
    position: relative;
    left: 242px;
}

.imgRadius {
    border-radius: 100px;
    border: 5px inset rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.imgRadiusShort {
    border-radius: 100px;
}

.imgDeletePost {
    position: relative;
    left: 262px;
    text-decoration: none;
}

.imgDeleteComment {
    position: relative;
    left: 215px;
    text-decoration: none;
}

/* Komentarze */
.commentView {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2);
}

.commentText {
    padding: 5px;
    margin: 3px;
    line-height: 1.2;
    text-align: justify;
}

/* Strona logowania */
.form {
    border: 1px solid rgba(127, 127, 126, 0.20);
    padding: 20px;
}

.logoLogin {
    margin: 15px;
}

.link {
    text-decoration: none;
}

/* Stopka */
footer {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}